<header class="header">
   <a href="<%= root_path() %>">
      <%= image_tag("full-logo.svg", class: "header__logo") %>
   </a>
   <div class="header__right-column">
      <% if @contacts then %>
         <%= image_tag("logo.svg", class: "header__show-links") %>

         <% bandcamp = @contacts.get_string("contacts-bandcamp"); %>
         <% soundcloud = @contacts.get_string("contacts-soundcloud"); %>
         <% instagram = @contacts.get_string("contacts-instagram"); %>
         <% facebook = @contacts.get_string("contacts-facebook"); %>
      
         <div class="header__social header__social--hidden">
            <a class="header__link" href="<%=bandcamp%>" target="__blank">BANDCAMP</a>
            <a class="header__link" href="<%=soundcloud%>" target="__blank">SOUNDCLOUD</a>
            <a class="header__link" href=""<%=instagram%>" target="__blank">INSTAGRAM</a>
            <a class="header__link" href="<%=facebook%>" target="__blank">FACEBOOK</a>
         </div>
      <% end %>
   </div>
</header>