<div class="release">
   <div class="release__header">
      <span class="release__header-title"><%= release.get_string("release-catalog-number") %></span>
   </div>
   <div class="release__content">
      <div class="release__content-header">
         <p><%= release.get_string("release-artist-name") %></p>
         <p><%= release[:name] %></p>
         <p><%= release.get_string("release-publish-date") %></p>
         <p><%= release.get_string("release-detail") %></p>
      </div>
      <div class="release__tracklist">
         <div class="release__tracklist-inner">
            <%= render partial: "partials/tracklist", locals: { tracklist: release.get_repeater("release-track-list") }%>
         </div>
      </div>
      <a href=<%= release.get_string("release-url")%>>BUY</a>
   </div>
</div>