<article class="release">
   <div class="release__top-header">
      <h2 class="release__catalog-number"><%= release.get_string("release-catalog-number") %></h2>
   </div>
   <section class="release__content">
      <% if release.has_image("release-cover-image") %>
         <% image_url = release.get_image_url("release-cover-image") %>
         <div class="release__cover" >
            <div class="release__cover-inner">
               <%= image_tag(image_url, class: "release__cover-image") %>
            </div>
         </div>
      <% end %>
      <div class="release__header">
         <div class="release__left-column">
            <span class="release__publish-date"><%= release.get_string("release-publish-date") %></span>
            <span class="release__detail"><%= release.get_string("release-detail") %></span>
         </div>
         <div class="release__right-column">
            <address class="release__artist"><%= release.get_string("release-artist-name") %></address>
            <h1 class="release__title"><%= release[:name] %></h1>
         </div>
      </div>
      <div class="release__tracklist">
         <div class="release__tracklist-inner">
            <%= render partial: "partials/tracklist", locals: { tracklist: release.get_repeater("release-track-list") } %>
         </div>
      </div>
      <div class="release__footer">
         <div class="release__left-column"></div>
         <div class="release__right-column">
            <a class="release__buy-link"href=<%= release.get_string("release-url")%>>BUY</a>
            <% if release.has_image("release-image") %>
               <% image_url = release.get_image_url("release-image") %>
               <a href=<%= release.get_string("release-url")%>>
                  <%= image_tag(image_url, class: "release__image")%>
               </a>
            <% end %>
         </div>
      </div>
   </section>
</article>